.portfolio_container {
    display:grid;
    grid-template-columns: repeat(1fr);
    gap: 2.5rem;
}

.portfolio_item {
    background: var(--bs-dark);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
    text-align: center;
}

.portfolio_item:hover {
    border-color: var(--bs-gray-700);
    background: transparent;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}


.portfolio_itemHolder {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
  
}


