
.profile_container {
    display:grid;
    grid-template-columns: repeat(1fr);
    gap: 2.5rem;
    width: 40%;
}

.profile_item {
    background: var(--bs-secondary);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
    text-align: center;
}

.profile_item:hover {
    border-color: var(--bs-gray-900);
    background: transparent;
    background-color: var(--bs-gray-700);
}

.profile_item h3 {
    margin: 1.2rem 0 2rem;
    color: aliceblue;
}


.profile_itemHolder {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
  
}

.profile_itemHolder a {
    color: aliceblue;
}


